html {
    background-color: #CAF2C3;
}

body {
    margin-right: 250px;
    margin-left: 250px;
}

.mainContent {
    background-color: #ECFFF9;
    border: 30px solid black;
    padding-right: 75px;
    padding-left: 75px;
}